h3, td, input[type=submit] {
    font-family: 'Noto Serif JP', serif;
}


.modal {
    display: none; /* 初期状態では非表示 */
    position: fixed;
    z-index: 1;
    left: -270px;
    top: -410px;
    width: 200%;
    height: 200%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 15%;
    height: 20%;
    position: relative;
  }
  .close {
    position: absolute;
    right: 0;
    top: -50;
    /* margin-top: 20px; */
    margin-right: 20px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
  }